# Visual Studio and Jetbrains Rider cache
.vs/
.idea/

# User-specific files
FastFoodAPI/*.user
ClientApplication/*.user

# Generated with debug and execute
FastFoodAPI/bin
FastFoodAPI/obj

ClientApplication/bin
ClientApplication/obj

# logging
FastFoodAPI/logs
ClientApplication/logs

# documentation
docs/*
!docs/mainpage.md

/FastFoodApplication
/bin
/obj