<div class="container text-center mt-5">
    <!-- Welcome Message -->
    <h1>
        <span id="welcome-message"><!--Dynamic--></span>
    </h1>

    <div class="container mt-4">
        <h2>Promotional Content</h2>

        <!-- Carousel -->
        <div id="carousel" class="carousel slide mb-5" data-bs-ride="carousel"><!--Dynamic--></div>
        <p id="carousel-error-text"></p>
        <p id="carousel-loading-text"></p>

        <!-- Upload Form -->
        <div id="upload-form-container"><!--Dynamic--></div>

        <!-- Upload Status -->
        <div id="upload-status"><!--Dynamic--></div>

        <p id="upload-error-text"></p>
        <p id="upload-success-text"></p>
    </div>
</div>