<div class="container mt-5">
    <h2 class="text-center">Login</h2>
    <div class="alert alert-danger" role="alert" id="error-message" hidden><!--Dynamic--></div>
    <form id="login-form" class="mt-4">
        <div class="mb-3">
            <label id="email-label" for="email-input" class="form-label">Email</label>
            <input type="text" class="form-control" id="email-input" name="email-input" />
        </div>
        <div class="mb-3">
            <label id="password-label" for="password-input" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-input" name="password-input" />
        </div>
        <input type="button" class="btn btn-primary w-100" id="login-btn" value="Login" />
    </form>
</div>