@model ManageEmployeeViewModel

@{
    ViewData["Title"] = "Manage Employee";
}

<div class="container mt-5">
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Manage Employee</h1>
        <span id="employee-id"><!--Dynamic--></span>
    </div>

    <div class="row">
        <!-- Promote/Demote Form -->
        <div class="col-md-6">
            <form method="post" id="promote-demote-form">
                <h3>Promote/Demote</h3>
                <div class="mb-3">
                    <label for="role-id" class="form-label">Role</label>
                    <select class="form-select" id="role-id" name="role-id" required>
                        <div id="roles"><!--Dynamic--></div>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>

            <!-- Relocate Form -->
            <form method="post" class="mt-4" id="relocate-form">
                <h3>Relocate</h3>
                <div class="mb-3">
                    <label for="station-id" class="form-label">Position</label>
                    <select class="form-select" id="station-id" name="station-id" required>
                       <div id="stations"><!--Dynamic--></div>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>

        <!-- Schedule Form -->
        <div class="col-md-6">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3>Schedule Employee</h3>
                <form method="post" id="notify-shift-form" class="m-0">
                    <button type="submit" class="btn btn-primary">Notify Schedule</button>
                </form>
            </div>
            <form method="post" >
                <div class="mb-3" id="schedule-shift-form">
                    <label for="shiftDate" class="form-label">Date</label>
                    <input type="date" class="form-control" id="shiftDate" name="shiftDate" required />
                </div>
                <div class="mb-3">
                    <label for="shift-id" class="form-label">Shift</label>
                    <select class="form-select" id="shift-id" name="shift-id" required>
                        <div id="shifts"><!--Dynamic--></div>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Schedule</button>
            </form>

            <!-- Train Employee Form -->
            <form method="post" id="assign-training-form" class="mt-4">
                <h3>Train Employee</h3>
                <div class="mb-3">
                    <label for="training-id" class="form-label">Training</label>
                    <select class="form-select" id="training-id" name="training-id" required>
                       <div id="training"><!--Dynamic--></div>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Assign</button>
            </form>
        </div>
    </div>
</div>
