<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="employee-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        UserName <!--Dynamic-->
    </a>
    <ul class="dropdown-menu" aria-labelledby="employee-dropdown">
        <li>
            <a class="dropdown-item" id="home-link" href="/">Home</a>
        </li>
        <li>
            <a class="dropdown-item" id="details-link" href="/employees/details">Details</a>
        </li>
        <li>
            <a class="dropdown-item" id="logout-link" href="/logout">Logout</a>
        </li>
    </ul>
</li>