<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="manager-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        UserName <!--Dynamic-->
    </a>
    <ul class="dropdown-menu" aria-labelledby="manager-dropdown">
        <li>
            <a class="dropdown-item" id="home-link" href="/">Home</a>
        </li>
        <li>
            <a class="dropdown-item" id="hire-link" href="/employees/hire">Hire</a>
        </li>
        <li>
            <a class="dropdown-item" id="list-link" href="/employees/list">Manage</a>
        </li>
        <li>
            <a class="dropdown-item" id="logout-link" href="/logout">Logout</a>
        </li>
    </ul>
</li>