<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="manager-dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        UserName <!--Dynamic-->
    </a>
    <ul class="dropdown-menu" aria-labelledby="managerDropdown">
        <li>
            <a class="dropdown-item" id="hire-link" href="/employees/hire">Hire</a>
        </li>
        <li>
            <a class="dropdown-item" id="list-link" href="/employees/manage">Manage</a>
        </li>
        <li>
            <form method="post" class="d-inline">
                <button type="submit" class="dropdown-item">Logout</button>
            </form>
        </li>
    </ul>
</li>